# macOS
.DS_Store
.vscode/

# Python
__pycache__/
*.pyc

# Python virtual env
venv/

# logs
logs/
*.log

# backups
backups/

# runtime
*.pid
out/

# secrets
.env

# miners
xmrig/
xmrig.mac/

# local test files
test_*.txt

.env.example
